<!DOCTYPE html>
<html lang="en">

<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Kenneth Chin-Purcell" />  
  
  <title>{{ if ne .RelPermalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
  
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "css/styles.css" | postCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "css/styles.css" | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  {{ end }}  
</head>

<body class="flex flex-col min-h-screen">
  <header id="header" class="header flex w-full m-0 p-3 bg-cover bg-green-200 text-gray-600">
    Header
  </header>
  {{ block "main" . }}{{ end }}
  <footer class="w-full border-t border-gray-200 py-9 px-9 mt-9 text-sm text-gray-500 bg-gray-100">
    Chin-Purcell Ceramics
    <br/>
    Copyright &copy; 2021 Kenneth Chin-Purcell
  </footer>
</body>

</html>
